name: Auto-merge on LGTM
on:
  schedule:
    - cron: '0 * * * *'

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: jpmcb/prow-github-actions@v2
        with:
          jobs: 'lgtm'
          github-token: '${{ secrets.GITHUB_TOKEN }}'
          merge-method: 'squash'
