name: Prow PR Jobs
on:
  pull_request:
    types: [synchronize, opened, reopened]

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: jpmcb/prow-github-actions@v2
        with:
          jobs: 'lgtm'
          github-token: '${{ secrets.GITHUB_TOKEN }}'
