name: Prow Commands
on:
  issue_comment:
    types: [created]

jobs:
  execute:
    runs-on: ubuntu-latest
    steps:
      - uses: jpmcb/prow-github-actions@v2
        with:
          prow-commands: '/assign
            /unassign
            /approve
            /retitle
            /area
            /kind
            /priority
            /remove
            /lgtm
            /close
            /reopen
            /lock
            /unlock
            /milestone
            /hold
            /unhold
            /cc
            /uncc'
          github-token: '${{ secrets.GITHUB_TOKEN }}'
